.form-control-lg {
  font-size: 1rem;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.card-header h4 {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .d-flex.justify-content-between {
    flex-direction: column;
    gap: 1rem;
  }
  
  .d-flex.justify-content-between .btn {
    width: 100%;
  }
}
